@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
/* CSS RESET */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/*  Select by tag/name */
/* p {
    color: blue;
} */

/* Select by id name */

/* h1#heading1 {
    color: red;
} */

/* Select by class name */

/* h2.heading2 {
    color: green;
} */

/* For p's all new class get purple color. */

/* p.new {
    color: purple;
} */

/* Multiple class target in CSS */

/* .hello {
    color: red;
} */

/* .para {
    color: blue;
} */

/* Universal selector */
/* *{
    color: red;
    text-align: center;
} */

/* The CSS Grouping Selector */

/* h1,
h2,
p {
    color: red;
    text-align: center;
} */

/* Internal CSS */

/* p{
    color: blue;
} */

/* Internal prayority check  */

/* p {
    color: blue;
} */

/* Color & Backgroun-color */
/* h1,p{
    color: red;
    background-color: blue;
} */

/* Background-image */
/* body {
    width: 500px;
    background-image: url('/PICTURES/background.avif');
    background-repeat: no-repeat;
    width: 25%;
    background-attachment: fixed;
} */

/* div {
    width: 75%;
    float: left;
    color: white;
} */

/* Background shorthand */
/*         
body{
    background: aqua url('/PICTURES/rugby.avif') no-repeat top right;
} */

/* CSS Border types */

/* .allside {
    border: 1px solid black;
    padding: 10px;
}

.redbtm {
    border-bottom: 1px solid red;
    padding: 10px;
}

.rounded {
    border: 1px solid blue;
    padding: 10px;
    border-radius: 5px;
}

.bluelft {
    border-left: 3px solid blue;
    padding: 10px;
} */

/*  Border Styles in CSS */

/* p { */
/* mix border = top style,right style,bottom style,left */
/* border-style: solid dotted double dashed;
    border-color: red;
} */

/* .main{
    width: 200px;
    border: 2px solid red;
    padding: 20px;
    margin: auto;
} */

/* Height,width,max-width */

/* p {
    border: 2px solid black;
    height: 40px;
    width: 80%;
}

span {
    display: block;
    border: 1px solid rebeccapurple;
    height: 40px;
    width: 50%;
} */

/* p{
    border: 5px solid green;
    outline: 5px solid red;
    padding: 20px;
} */

/* Outline-offset */

/* p {
    margin: 30px;
    outline: 1px solid red;
    border: 2px solid yellow;
    outline-offset: 10px;
} */


/* div { */
/* text-align: justify; */
/* direction: ltr; */
/* } */
/* img{
    vertical-align: baseline;  // default
    vertical-align: text-top;
    vertical-align: text-bottom;
    vertical-align: sup;
    vertical-align: super;
} */
/* Text decoration line */
/* p { */
/* text-decoration-line: underline; */
/* text-decoration-line: overline; */
/* text-decoration-line: line-through; */
/* text-decoration-line: overline underline; */
/* text-decoration-style: wavy; */
/* text-decoration-style: solid; */
/* text-decoration-color: red; */
/* text-decoration-thickness: 5px; */
/* shorthand of this*/
/* text-decoration: underline blue double 5px; */

/* } */

/* a{
   text-decoration: none;
   color: red;
} */

/* Text-transform */

/* p{
    text-transform: uppercase;
    text-transform: lowercase;
    text-transform: capitalize;
} */

/* h1{ */
/* color: white; */
/* text-align: center; */
/* text-shadow: 2px 2px;  1st is x value & 2nd is y value */
/* text-shadow: 2px 2px grey;  last is color */
/* text-shadow: -2px -2px  grey; */
/* } */

/* body {
    font-size: 100%;
} */

/* Google font */

/* p {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
} */

/* Styling links in CSS */

/* .linkone {
    color: black;
}

.linkone:hover {
    color: green;
}

.linktwo {
    text-decoration: none;
    color: greenyellow;
}

.linktwo:hover {
    color: green;
    text-decoration: underline;
}

.linkthree {
    color: green;
    background-color: transparent;
    text-decoration: none;
    border: 2px solid green;
    padding: 4px 10px;
}
.linkthree:hover{
    background-color: green;
    color: white;
    /* border: none; 
}

.linkfour{
    color: white;
    background-color: rgb(250, 62, 62);
    padding: 4px 10px;
    text-decoration: none;
}
.linkfour:hover{
    background-color: red;
} */

/* span{
    cursor: auto;
    cursor: crosshair;
   & SO ONE... 
} */

/* Give image to list */
/* ul {
    list-style-image: url('/PICTURES/instaicon.png');
} */
/* .first li{
    border: 2px solid black;
    list-style-position: inside;
}

.second li {
    border: 2px solid black;
    list-style-position: inside;
}
*/

/* List styling */

/* .myList {
    background-color: aquamarine;
    list-style-type: none;
    list-style-position: inside;
    padding: 10px;
}
.myList li{
    background-color: hotpink;
    padding: 5px;
    margin: 3px;
    color: white;
    text-shadow: 2px 2px 3px black;
} */
/* table {
    width: 100%;
    text-align: center;
    border: 1px solid #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table,
td,
th {
    border-bottom: 1px solid #000;
    border-collapse: collapse;
    padding: 5px;
}

th {
    height: 40px;
    background-color: rgb(62, 197, 109);
    color: white;
    padding: 5px;
    font-weight: 900;
}
td{
    height: 40px;
  vertical-align: bottom; 
}

tr:nth-child(even) {
    background-color: #ccc;
}

tr:hover {
    background-color: grey;
    color: white;
    cursor: pointer;
} */

/* margin auto */

/* .container{
    border: 1px solid red;
    width: 250px;
    margin: auto;
} */
/* .mydiv{
    width: 500px;
    border: 2px solid red;
    margin: auto;
} */

/* .mydiv{
    max-width: 500px;
    border: 2px solid red;
    margin: auto;
} */
/* li{
    background-color: aqua;
    display: inline;
} */

/* span{
    background-color: cadetblue;
    display: block;
} */
/* .two {
    display: none;
}

.three {
    visibility: hidden;
} */
/* .static{
    background-color: aqua;
    border: 1px solid red;
    padding: 20px;
} */

/* .relative{
    border: 1px solid red;
    left: 30px;
    position: relative;
} */
/* body{
    height: 200vh;
}
.fixed{
    border: 2px solid red;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: lightblue;
} */

/* .relative{
    position: relative;
    border: 2px solid red;
    width: 500px;
    height: 300px;
}
.absolute{
    position: absolute;
    border: 2px solid red;
    width: 300px;
    height: 150px;
    top: 100px;
    left: 20px;
} */
/* body{
    height: 200vh;
} */

/* .sticky{
    border: 2px solid green;
    position: sticky;
    top: 0;
} */

/* .container {
    position: relative;
}

.container img {
    /* width: 800px; */
/* width: 100%; */
/* height: 600px; */
/* }  */

/* .container .text { */
/* color: white; */
/* position: absolute; */
/* top: 20px; */
/* top: 50%;
    left: 50%; */
/* } */

/* .container {
    position: relative;
}

.red-box{
    position: relative;
    width: 300px;
    height: 150px;
    border: 2px solid red;
    z-index: 2;
}
.blue-box{
    position: absolute;
    width: 280px;
    height: 120px;
    background-color: lightblue;
    top: 25px;
    left: 60px;
    z-index: 3;

}
.green-box{
    position: absolute;
    width: 160px;
    height: 150px;
    background-color: lightgreen;
    top: 25px;
    z-index: 1;
} */

/* .text-div{
    border: 2px solid red;
    width: 500px;
    height: 300px; */
/* overflow: visible; */
/* Note => Overflow visible is default value */
/* overflow: hidden; */
/* overflow: scroll; */
/* overflow: auto; */
/* overflow-x: scroll; */
/* overflow-y: hidden; */
/* } */
/* img {
    width: 150px;
    height: 150px;
    margin-right: 15px;
    float: left;
} */
/* div {
    float: left;
    padding: 15px;
}

.div1 {
    background-color: red;
}

.div2 {
    background-color: green;
}

.div3 {
    background-color: yellow;
} */

/* .div1{
    border: 2px solid red;
    float: left;
    padding: 15px;

}
.div2{
    border: 2px solid green;
    padding: 15px;
    margin-bottom: 100px;
}

.div3{
    border: 2px solid red;
    float: left;
    padding: 15px;
   

}
.div4{
    border: 2px solid green;
    padding: 15px;
    clear: left;
}
 */
/* div {
    border: 2px solid red;
    padding: 5px;
}

div::after {

    /* overflow: hidden; */
/*  content: "";
    clear: both;
    display: table;
}

.img1 {
    width: 250px;
    float: right;
}

.img2 {
    width: 250px;
    float: right;
} */
/* * {
    box-sizing: border-box;
}

.box {
    float: left;
    width: 33.33%;
    /* padding: 50px; */
/* margin-left: 1px; */
/* height: 300px;
}

.clear-fix::after {
    content: "";
    clear: both;
    display: table;
} */

/* .flex-container{
    display: flex;
    background-color: darkcyan;
    flex-wrap: nowrap;
}
.flex-container .box{
    background-color: bisque;
    width: 50%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
} */

/* span.a {
display: inline; 
width: 100px;
height: 100px;
padding: 80px 50px;
border: 1px solid blue;  
background-color: yellow; 
} */

/* Navbar by Dispaly inline block */
/* 
.navbar {
    background-color: yellow;
    text-align: center;
    list-style: none;
}

.navbar li {
    display: inline-block;
    margin: 10px 15px;
}

.navbar li a {
    text-decoration: none;
    color: red;
} */
/* .container {
    width: 50%;
    border: 2px solid green;
    margin: auto;
} */

/* img {
    display: block;
    width: 40%;
    margin: 0 auto 0 auto;
    margin-right: auto; 
    /* margin-left: auto;
} */
/* .main{ */
/* position: absolute; */
/* width: 300px; */
/* border: 2px solid red; */
/* right: 0; */
/* float: left; */
/* } */
/* . */
/* .col{
    border: 2px solid green;
    padding: 70px 0;
} */

/* .container {
    height: 200px;
    border: 2px solid red;
    position: relative;
}

.container p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

/* Flex items centering */

/* .container {
    border: 2px solid red;
    background-color: green;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.item {
    width: 120px;
    height: 120px;
    background-color: aqua;
} */
/* div  p{
    background-color: red;
} */
/* div > p{
    background-color: red;
} */
/* div + p{
    background-color: red;
} */
/* div ~ p{
    background-color: red;
} */

/* unvisited link
a:link {
    color: red;
}

/* visited link */
/* a:visited {
    color: green;
} */

/* mouse over link */
/* a:hover {
    color: hotpink;
} */

/* selected link */
/* a:active {
    color: blue;
}  */

/* p{
    display: none;
}

div:hover p{
    display: block;
    background-color: yellow;
    color: black;
    width: 50%;
    padding: 15px;
} */
/* p::first-line{
    color: red;
    font-variant: small-caps;
} */

/* p::first-letter{
    color: red;
    font-variant: small-caps;
    font-size: 20px;
    font-weight: 900;
} */
/* h1::before{
    content: url("/PICTURES/instaiconcolor.png");
}

h2::after{
    content: url("/PICTURES/instaiconcolor.png");
} */
/* ::marker{
    color: red;
    font-size: 20px;
} */

/* ::selection{
    background-color: aqua;
    color: red;
} */

/* img{ */
/* width: 500px; */
/* Transparancy or opacity range 0 to 1 */
/* opacity: 0.2; */
/* } */

/* img:hover{
    opacity: 1;
} */

/* div {
    width: 200px;
    height: 200px;
    background-color: red;
    opacity: 0.4;
} */

/* .main {
    width: 60%;
    height: 40vh;
    background-image: url('/PICTURES/stairs.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submain h1 {
    width: 60%;
    height: 20vh;
    border: 2px solid white;
    opacity: 0.2;
    color: black;
} */

/* ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li a{
    display: block;
    background-color: gray;
    width: 100%;
    text-decoration: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
}
li a:hover{
    background-color: black;
    border: 2px solid red;
} */


/* Fixed navbar CSS */

/* * {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: burlywood;
    height: 100%;
    overflow: auto;
    position: fixed;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active{
    background-color: green;
    color: white;
}

li a:hover:not(.active){
    background-color: black;
    color: white;
}

div{
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
} */

/* Sticky & fixed navbar */

/* * {
    margin: 0;
    padding: 0;
}

header,
h1 {
    text-align: center;
    background-color: burlywood;
    padding: 20px;

}

ul {
    width: 100%;
    list-style-type: none;
    background-color: brown;
    overflow: hidden;
    position: fixed;
    position: sticky;
    top: 0;
}

li {
    float: left;
    border-right: 1px solid gold;
}

ul li a {
    display: block;
    text-decoration: none;
    color: wheat;
    padding: 8px 16px;
}

ul li a.active {
    background-color: pink;
    color: brown;
}

ul li a:hover:not(.active) {
    background-color: black;
}

li:last-child {
    border: none;
}

@media  (max-width:350px) {
    ul li {
        width: 100%;
    }
} */

/* Dropdwon */

/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(194, 133, 163);
    overflow: hidden;
}

li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: wheat;
    text-align: center;
    text-decoration: none;
    padding: 8px 16px;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

li a {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: aquamarine;
    min-width: 160px;
    box-shadow: 2px 3px 4px black;
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a {
    background-color: rgb(200, 115, 115);
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
} */

/* Hoverable dropdown */

/* .dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.drop-content {
    display: none;
    position: absolute;
    min-width: 150px;
    background-color: aqua;
    color: red;
    padding: 8px 16px;
    box-shadow: 2px 3px 4px black;
}

.dropdown:hover .drop-content {
    display: block;
} */

/* Dropdown image */

/* .dropdown{
    position: relative;
    display: inline-block;
}

.drop-content{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 2px 3px 4px black;
    z-index: 1;
}

.desc{
    padding: 5px;
    text-align: center;
}

.dropdown:hover .drop-content{
    display: block;
} */

/* .gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

.gallery img {
    width: 100%;
    height: auto;
}

.gallery .desc{
    padding: 5px;
    text-align: center;
} */


/* Form in CSS */

/* input[type=text], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 100%;
    background-color: #4CAF50;
    border: none;
    padding: 14px 20px;
    border-radius: 4px;
    margin: 8px 0;
    cursor: pointer;
    color: white;
}

input[type=submit]:hover{
    background-color: green;
}

div{
    background-color: #ddd;
    padding: 10px;
    border-radius: 5px;
} */

/* input[type=text] {
    width: 40%;
    padding: 15px 45px;
    border-radius: 4px;
    background-image: url(/PICTURES/searchicon.png);
    background-repeat: no-repeat;
    background-position: 3px 7px;
    border: none;
    border: 2px solid #ccc;
    box-sizing: border-box;
    font-size: 25px;
    transition: width 4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
} */

/* select {
    width: 100%;
    padding: 10px 16px;
    border-radius: 5px;
    margin-top: 12px;
} */

/* button {
    width: 20%;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

button:hover{
    background-color: #555;
    color: white;
} */

/* CSS Units */

/* p{
    line-height: 50px;
} */


/* Pixel unit */

/* px is an absolute unit of measurement used to specify length and sizes. px is a fixed unit and should be used sparingly and with caution for responsive design. */

/* Rem unit:- */

/*
   16px = 1rem 
   Note=> It stands for root em.
   */

/* em unit:- */

/* 
   It is relate to the parent element or nearest parent.
   */

/* percenteange unit:- */

/* Percentages are relative units that render an element relative to the size of the element's parent. */


/* viewport height (vh) */

/* vh is a relative unit of measurement that represents the visible height area of the browser window. */

/* viewport height (vw) */

/* vw is similar to vh but vw refers to the width of the browser window. It is used to set elements based on the horizontal axis of the browser window. */


/* ch unit*/

/*
ch is a relative unit that scales based on the width of characters. 1ch is equal to the width of the "0" character in the current font. */

/* 1ch = 8px */


/* div>p {
    font-size: 1ch;
} */

/* 
Specificity in CSS:-

1. Inline styles - Example: <h1 style="color: pink;">
2. IDs - Example: #navbar
3. Classes, pseudo-classes, attribute selectors - Example: .test,       :hover, [href]
4. Elements and pseudo-elements - Example: h1, ::before
*/

/* 
If we apply !important to any styling ruther then it is internal or external style it will specify that style on the UI.
*/

