* {
    margin: 0;
    padding: 0;
    /* background-color: bisque; */
}

/* Roundeed Corner */

/* .color {
    width: 150px;
    height: 150px;
    background-color: red;
    margin: 30px auto;
    border-radius: 20px 30px 20px 30px;
} */

/* .empty {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    margin: 30px auto;
    border-radius: 20px 30px 20px 30px;
    /* border-radius: 50%; */

/* 
    Note=> When you want to give circle shape to your element then make sure that your element's height & width are equal.
    
} 
*/
/* .img {
    width: 250px;
    height: 250px;
    background-image: url(/PICTURES/rugby.avif);
    background-size: contain; */
/* background-repeat: no-repeat; */
/* margin: 30px auto; */
/* border-radius: 5px 30px; */
/* border-top-left-radius: 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 80px; */
/* } */


/*  Border Image */

/* .borderimg{
    width: 50%;
    border: 10px solid transparent;
    margin: auto;
    padding: 15px;
    border-image: url('/PICTURES/instaicon.png') 30 round;
} */


/* Background (Multiple) */

/* .main{
    width: 800px;
    height: 700px;
    background-image: url('/PICTURES/flowers.png'), url('/PICTURES/texture.jpeg');
    background-position: right bottom, left top;
    background-repeat: no-repeat;
    padding: 15px;
    color: white;
} */


/* body {
    background-image: url(/PICTURES/texture.jpeg);
}

.one {
    width: 600px;
    border: 2px solid black;
    padding: 15px;
    text-align: center;
    margin: 5px auto;
    background-color: hotpink;
}

.two {
    width: 600px;
    border: 2px solid black;
    padding: 15px;
    text-align: center;
    margin: 5px auto;
    background-color: transparent;
} */

/* Current color  */

/* h1{
    color: red;
    border: 5px solid currentColor;
} */

/* Inherit color */

/* div{
    border: 2px solid green;
    padding: 15px;
}

span{
    border: inherit;
} */

/* .divmain {
    width: 600px;
    height: 380px;
    border: 2px solid black;
    margin: 150px auto; */
/* Default value => top to bottom => 1st one default*/
/* background-image: linear-gradient(purple, yellow);
    background-image: linear-gradient(to top, purple, yellow);
    background-image: linear-gradient(to bottom, aqua, magenta);
    background-image: linear-gradient(to right, orange, green);
    background-image: linear-gradient(to left, pink, blue); */
/* background-image: linear-gradient(to bottom left, pink, blue);
    background-image: linear-gradient(to bottom right, pink, blue);
    background-image: linear-gradient(to top right, pink, blue);
    background-image: linear-gradient(to top left, pink, blue); */
/* } */

/* #grad {
    width: 800px;
    height: 50px;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  } */

/* #grad {
    width: 800px;
    height: 50px;
    background-image: repeating-linear-gradient(red, yellow 10%, green 20%);
  } */

/* text shadow */

/* h1{ */
/* text-align: center; */
/* margin-top: 200px; */
/* font-size: 64px; */
/* text-transform: uppercase; */
/*  Syntax =>  text-shadow: x y fade color; */
/* text-shadow: 2px 3px 4px blue; */
/* text-shadow: -2px -3px 4px red; */
/* text-shadow: -2px -3px 4px red , 2px 3px 4px blue; */
/* } */

/* Box shadow  */

/* .box { */
/* width: 50%; */
/* border: 2px solid black; */
/* padding: 10px; */
/* margin: 200px auto; */
/* text-align: center; */
/* background-color: khaki; */
/*  Syntax =>  box-shadow: x y fade color; */
/* box-shadow: 2px 4px 5px gray; */
/* box-shadow: -2px -4px 5px teal; */
/* } */

/* Text border as shadow */

/* h1{
    text-align: center;
    margin: 200px auto;
    color: rgb(43, 178, 178);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
} */


/* 
.card-text{
    width: 350px;
    height: 350px;
    background-color: rgb(87, 77, 77);
    margin: 50px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-text .text-data{
    background-color: black;
    width: 100%;
    height: 300px;
    display: grid;
    place-items: center;
    font-size: 280px;
    color: white;
}

h3{
    width: 150px;
    margin: 12px auto;
    font-size: 20px;
    color: white;
} */

/* Text overflow clip & ellipsis */

/* p {
    white-space: nowrap;
    width: 200px;
    border: 1px solid #000000;
    overflow: hidden;
    overflow: visible;
    text-overflow: clip; 
    text-overflow: ellipsis;
} */

/* Word wrap property */

/* .box {
    width: 11em;
    border: 1px solid #000000;
    word-wrap: break-word;
} */

/* word break */

/* p.test1 {
    width: 140px; 
    border: 1px solid #000000;
    word-break: keep-all;
  }
  
  p.test2 {
    width: 140px; 
    border: 1px solid #000000;
    word-break: break-all;
  } */

/* writing mode */

/* p {
    margin-top: 200px;
} */

/* .new {
    writing-mode: vertical-rl;
} */

/* Translate x,y */

/* .myDiv{
    border: 1px solid black;
    width: 60%;
    height: 30%;
    background-color: aqua;
    /* Syntax=>  transform: translate(x,y); (+/-)*/
/* transform: translate(20%,50%); */
/* }  */
/* */

/* rotate */

/* .myDiv1{
    width: 400px;
    height: 200px;
    border: 2px solid black;
    background-color: yellow;
    transform: rotate(20deg);
    transform: rotate(-20deg);
} */

/* sclae */

/* .box{
    width: 150px;
    height: 150px;
    background-color: red;
    margin: 200px auto;
}

.box:hover{
  transform: scale(2);
} */


/* Skew */

/* .box {
    width: 300px;
    height: 150px;
    margin: 200px auto;
    border: 2px solid black;
    background-color: aqua; */
/* transform: skew(20deg, 10deg); */
/* transform: skewX(20deg);
    transform: skewY(20deg); */
/* } */

/* matrix */

/* .box1 {
    width: 300px;
    height: 150px;
    margin: 200px auto;
    background-color: blueviolet;
    border: 2px solid black; */
/*Syntax =>  transform: matrix(scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY()) */
/* transform: matrix(1, 0, 0.5, 1, 150, 0); */
/* } */

/* Tooltip Css */

/* body {
    display: grid;
    place-items: center;
} */

/* .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 2px solid red;
    margin: 300px auto;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    position: absolute;
    z-index: 1; */

/* For right tooltip */
/* top: -5px;
    left: 105%; */
/* For left tooltip */
/* top: -5px;
    right: 105%; */
/* For left top */
/* bottom: 100%;
     left: 50%;
     margin-left: -60px; */
/* For left top */
/* top: 100%;
    left: 50%;
    margin-left: -60px; */
/* bottom: 150%;
    left: 50%;
    margin-left: -60px;
} */

/* for arrow tooltip */

/* .tooltip .tooltip-text::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent; */
/* border-color: black black black black; */

/* } */

/* .tooltip:hover .tooltip-text {
    visibility: visible;
} */

/* Styling of image in css */

/* img {
    width: 300px;
    height: 200px;
    margin-top: 250px;
    border-radius: 50%;
} */

/* Thumbnail image and normal image */

/* img {
    width: 300px;
    height: 200px;
    margin-top: 250px;
    padding: 10px;
}

img:hover {
    box-shadow: 2px 3px 6px blue,-2px -3px 6px blue;
} */


/* Responsive image */

/* img{
    width: 100%;
    height: auto;
} */

/* center an image */

/* img {
    display: block;
    width: 50%;
    margin: auto;
} */

/* .divmain {
    width: 700px;
    height: 500px;
    border: 2px solid red;
    margin: auto;
} */

/* .divbox {
    height: 200px;
    width: 300px;
    border: 2px solid red;
    position: relative; */
/* margin: 45px auto; */
/* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
/* } */

/* cards in CSS */

/* .card-container {
    width: 50%;
    height: auto;
    box-shadow: 2px 3px 4px black;
    margin-bottom: 25px;
    border-radius: 10px;
    overflow: hidden;
}

.card-container img {
    width: 100%;
    opacity: 0.6;
}

.card-container img:hover {
    opacity: 1;
}

.card-detail{
    text-align: center;
    padding: 10px 15px;
} */

/* Text positioning in a div with image */

/* .main-img{
    width: 60%;
    position: relative;
}

.main-img img{
    width: 100%;
}

.text{
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
} */

/* Image overlays */

/* .container{
    width: 350px;
    margin: 200px auto;
    position: relative;
}

.container img{
    display: block;
    width: 100%;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: 0.5s ease;
    background-color: black;
}

.text{
    color: white;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container:hover .overlay{
    opacity: 1;
} */