body {
    display: grid;
    place-items: center;
}

#date-time-sec {
    margin-top: 250px;
    background-color: #ccc;
    width: 400px;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 2px 3px 5px black;
}

.mydate {
    color: black;
    font-size: 35px;
}

.mytime {
    color: red;
    font-size: 25px;
}